@page
@model ValStarter.Pages.ConfirmStudentModel
@{
}


<h1> This is the confirm page</h1>

<h2>The following values were entered</h2>
<ul>
    <li> Student Name @Model.Student.FirstName </li>
    <li> Student Last Name @Model.Student.LastName </li>
    <li> Student ID @Model.Student.StudentID </li>
</ul>

<a href="CreateStudent" class="button">Go Back and Edit</a>

<a href="Bye" class="button">Save the Data</a>

