@page
@model CreateStudentModel
@{
}


<form method="post">

    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for=Student.FirstName></label>
        <input asp-for=Student.FirstName>
    </div>

    <div>
        <label asp-for=Student.LastName></label>
        <input asp-for=Student.LastName>
    </div>

    <div>
        <label asp-for=Student.StudentID></label>
        <input asp-for=Student.StudentID>
    </div>

    <button type="submit">Press Me</button>
</form>


