@page
@model SampleModel
@{
}

<form method="post">

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>

    <div>
        <label asp-for="Dummy"></label>
        <input asp-for="Dummy" />
    </div>


    <button type="submit">Press Me</button>
</form>